.form-reg  { font: 13px/150% Verdana, Tahoma, sans-serif }
.form-reg h2 {
    padding-bottom: 15px;
    margin-bottom: 0;
}
.form-reg p {
    padding-top: 5px;
}
#auth-content {
    width: 250px;
    padding: 20px 40px;
    background: #f6f6f6;
    position: relative;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.form-reg input,
.form-reg textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 250px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
.form-reg textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
}
.form-reg input:hover,
.form-reg textarea:hover,
.form-reg input:focus,
.form-reg textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.form-reg label {
    margin-bottom: 1em;
    color: #777;
}
.form-reg .submit { text-align: center }
.form-reg .submit input {
    width: auto;
    height: 30px;
    padding: 0 15px;
    margin: 10px auto 0 auto;
    background:#6398d9;
    background:-moz-linear-gradient(top,#77a8e2,#5189d0);
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#5189d0),color-stop(1,#77a8e2));
    background:-o-linear-gradient(top,#77a8e2,#5189d0);
    box-shadow:inset 0 1px 2px #5b91cf;
    border:1px solid #4774ab;
    color:#fff;
    text-shadow:0px -1px 1px #4373a9;
    display:block;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    border-radius:5px;
    line-height:31px;
    cursor: pointer;
}
.form-reg .submit input:hover{
    background:#4f8ad1;
    background:-moz-linear-gradient(top,#7cb4eb,#5493dd);
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0,#5493dd),color-stop(1,#7cb4eb));
    background:-o-linear-gradient(top,#7cb4eb,#5493dd);
    text-decoration:none;
}
.form-reg .submit input:active{
    background:#5493dd;
    text-decoration:none;
}
.form-reg .def {
    margin: 0;
    padding: 0;
    width: auto;
}
.form-reg .gender .def {
    margin: 0 .5em 0 .5em;
    vertical-align: bottom;
}
.form-reg h2 {
    font: 400 1.7em/1em Verdana, Tahoma, sans-serif;
    color: #555;
    text-align: center;
}