<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>чат г.Старая Русса</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="humans.txt">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ static_url("res/css/style.css") }}" type="text/css"/>
<link rel="stylesheet" href="{{ static_url("res/css/redmond/jquery-ui-1.8.17.custom.css") }}" type="text/css"/>
<script src="{{ static_url("res/js/jquery.min.js") }}" type="text/javascript"></script>
<script src="{{ static_url("res/js/jquery-ui-1.8.17.custom.min.js") }}" type="text/javascript"></script>
<script type="text/javascript" src='{{ static_url("res/fancybox/jquery.fancybox-1.3.4.pack.js") }}'></script>
<link rel="stylesheet" type="text/css" href='{{ static_url("res/fancybox/jquery.fancybox-1.3.4.css") }}' media="screen" />
<script type="text/javascript" language="javascript">
$(window).load(function(){
    window.scrollTo(0,1e3);
});
$(function(){
		var sidebar = $('#sidebar');
		var sidebar_inner = $('#sidebar_inner');
		var header = $('#header');
		var input = $('#input');

	$(window).resize(function(event){
		sidebar_inner.css('height', sidebar.height() - input.height() - header.height() - 25);//sidebar_inner.height() - input.height() + header.height());
	})
	
	$(window).trigger('resize');
})
</script>
</head>
<body onload="scrollTop()" id="fullscreen">
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 7 ]>
	<script src="{{ static_url("res/js/dd_belatedpng.js") }}"></script>
	<script>DD_belatedPNG.fix("img, .png_bg");</script>
<![endif]-->
		<div id="page" class="clearfix">
			<div id="sidebar" class="alignleft">
				<div id="sidebar_inner">
					<h6>Пользователи онлайн({{ quantity }}):</h6>
					<div class="line"></div>
                    {% for user in users_online %}
                       {% raw user %}
                    {% end %}
				</div>
			</div>
			<div id="content_block" class="alignright">
				      <div id="inbox">
                      {% for message in messages %}
				          {% raw message["html"]  %}
				      {% end %}
				      </div>
				      <div id="input">
				      	<div class="input_block">
				      	{% include smile.html %}
						
				      	<div id="private_name"></div>
						
						<table  class="input_table">
							<tr>
								<td width=90>
									<a id="smile_link" href="javascript:smiles()" title="Смайлы">Smiles</a>
								</td>
								<td>
									<form action="/a/message/new" method="post" id="messageform">
									  <textarea name="message" id="message" placeholder="Ваше сообщение..."></textarea>
									  <input id="private" type="hidden" value="" name="private">
									  <input id="personal" type="hidden" value="" name="personal[]">
									</form>
									{% module xsrf_form_html() %}
								</td>
								<td width=160>
									<a href="javascript:void(0)" class="away_btn" id="away">Отойду</a><br>
									<a href="javascript:void(0)" class="cite_btn" id="cite">Получить цитату</a><br>
									<a href="javascript:void(0)" class="joke_btn" id="joke">Получить анекдот</a>
								</td>
								<td width=200>
									
									{% if not sex == 'user' and not is_vk == True %}
									<a href="javascript:void(0)" class="porf_ed"  id="profile_edit">Редактировать профиль</a><br />
									{% end %}
									<a href="/auth/logout" id="logout" title="выйти"><img src="/static/res/img/Gnome-System-Log-Out-32.png"></a>
									
								</td>
							</tr>
						</table>
				        </div>
				      </div>

			</div>

		</div>
    </div>

{% if not sex == 'user' and not is_vk == True %}
<div id="profile_editor" title="Редактирование профиля">
<form action="#" method="post" id="profile-form">
{% module xsrf_form_html() %}
<table cellspacing="3">
	<tr>
		<td class="label"><label>Имя:</label></td>
		<td class="input"><input type="text" class="text" id="pedit_first_name" name="name" value="{% if profile.name %}{{ profile.name }} {%end%}"></td>
	</tr>
	<tr>
		<td class="label"><label>Фамилия:</label></td>
		<td class="input"><input type="text" class="text" id="pedit_last_name" name="surname" value="{{ profile.surname }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Отчество:</label></td>
		<td class="input"><input type="text" class="text" id="pedit_middle_name" name="patronymic" value="{{ profile.patronymic }}"></td>
	</tr>
	<tr>
		<td class="label"><label>День рождения:</label></td>
		<td class="input">
			<input type="text" class="text" style="width:53px" maxlength="2" placeholder="день" name="day" value="{% if profile.birthday %} {{ profile.birthday.day }} {% end %}">
			<input type="text" class="text" style="width:53px" maxlength="2" placeholder="месяц" name="month" value="{% if profile.birthday %} {{ profile.birthday.month }} {% end %}">
			<input type="text" class="text" style="width:53px" maxlength="4" placeholder="год" name="year" value="{% if profile.birthday %} {{ profile.birthday.year }} {% end %}">
		</td>
	</tr>
	<tr>
		<td class="label"><label>Родной город:</label></td>
		<td class="input"><input type="text" class="text" name="birthplace" value="{{ profile.birthplace }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Город проживания:</label></td>
		<td class="input"><input type="text" class="text" name="liveplace" value="{{ profile.liveplace }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Телефон:</label></td>
		<td class="input"><input type="text" class="text" name="phone" value="{% if profile.phone %}{{profile.phone}}{% end %}"></td>
	</tr>
	<tr>
		<td class="label"><label>Skype:</label></td>
		<td class="input"><input type="text" class="text" name="skype" value="{{ profile.skype }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Vkontakte:</label></td>
		<td class="input"><input type="text" class="text" name="vkontakte" value="{{ profile.vkontakte }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Facebook:</label></td>
		<td class="input"><input type="text" class="text" name="facebook" value="{{ profile.facebook }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Twitter:</label></td>
		<td class="input"><input type="text" class="text" name="twitter" value="{{ profile.twitter }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Личный сайт:</label></td>
		<td class="input"><input type="text" class="text" name="site" value="{{ profile.site }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Место работы:</label></td>
		<td class="input"><input type="text" class="text" name="work" value="{{ profile.work }}"></td>
	</tr>
	<tr>
		<td class="label"><label>Школа:</label></td>
		<td class="input"><input type="text" class="text" name="school" value="{{ profile.school }}"></td>
	</tr>
	<tr>
		<td class="label"><label>ВУЗ:</label></td>
		<td class="input"><input type="text" class="text" name="institute" value="{{ profile.institute }}"></td>
	</tr>
	<tr>
		<td class="label"><label>О себе:</label></td>
		<td class="input"><textarea name="about">{{ profile.about }}</textarea></td>
	</tr>
</table>
<div style="text-align:center">
	<button class="button_blue" style="display: inline-block;" id="profile-save">Сохранить</button>
	<span style="margin-left:.5em"><a href="#" id="close_profile_editor">выйти без изменений</a></span>
</div>
</form>
</div>
{% end %}
	
    <audio id="audiotag1" src="/static/vkontakte.ru.chat.sound.wav" preload="auto"></audio>
    <script src="{{ static_url("chat.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("jquery.cookie.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("animateTitle.jquery.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("jquery.chrono.min_.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("res/js/sockjs-0.2.1.min.js") }}" type="text/javascript"></script>
  </body>
</html>
