<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Russa Chat Demo</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="humans.txt">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ static_url("res/css/style.css") }}" type="text/css"/>
<script type='text/javascript' src='{{ static_url("res/js/jquery.min.js") }}'></script>
<script type="text/javascript" src='{{ static_url("res/fancybox/jquery.fancybox-1.3.4.pack.js") }}'></script>
<link rel="stylesheet" type="text/css" href='{{ static_url("res/fancybox/jquery.fancybox-1.3.4.css") }}' media="screen" />
<script type="text/javascript" src='{{ static_url("res/js/login.js") }}'></script>
<link rel="stylesheet" type="text/css" href='{{ static_url("res/css/procssed_241211_11_51_24.css") }}' media="all">
</head>
<body class="main">
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 7 ]>
	<script src="{{ static_url("res/js/dd_belatedpng.js") }}"></script>
	<script>DD_belatedPNG.fix("img, .png_bg");</script>
<![endif]-->  
<div id="mp_wrapper">
	<form id="login_form" action="/auth/login" method="post">
        {% module xsrf_form_html() %}
        <div class="inputs">
			<div class="form-err" id="error_lg_name_reg"></div>
	        <input class="name" type="text" name="name_reg" placeholder="Логин...">
			<div class="form-err" id="error_lg_password"></div>
	        <input class="password" type="password" name="password" placeholder="Пароль...">
	       	<a href="#reg" id="id_login_reg" title="Зарегистрироваться">Регистрация</a>
	    </div>
        <input class="login" type="image" src="{{ static_url("res/img/input.png") }}" value="Sign in">
    </form>
    
	
    <div class="the_vk_form">
		<!-- Put this script tag to the <head> of your page -->
		<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>

		<script type="text/javascript">
			VK.init({apiId: 2644170});
		</script>

		<!-- Put this div tag to the place, where Auth block will be -->
		<div id="vk_auth"></div>
		<script type="text/javascript">
			VK.Widgets.Auth("vk_auth", {width: "200px", authUrl: '/vkauth'});
		</script>
	</div>

	<form id="guest_form" action="/auth/login" method="post">
	    {% module xsrf_form_html() %}
		<div class="form-err form-err-guest" id="error_lg_name"></div>
		<input class="name" type="text" name="name" placeholder="Гостевой логин...">
		<input type="hidden" name="is_guestform" value="1" />
		<input class="login" type="image" src="{{ static_url("res/img/input.png") }}" value="Sign in">
	</form>
	
	<script type="text/javascript">
		var glob_input_error = '{% if input_error %}{{ input_error }}{% end %}';
		var glob_error = '{% if error %}{{ error }}{% end %}';
	</script>
	
</div>
<div class="mp_footer">Copyright 2012 <a href="http://russa-chat.ru">russa-chat.ru</a></div>
</body>
</html>