<div class="msg clearfix personal">
	<div class="shadow"></div>
	<div class="msg_text alignleft">
		<div class="msg_name">
			<a id="{{id}}" href="noscript" class="from user_nik sub_id_{{id}}" title="личное сообщение">{{ current_user }}</a> :
            {% set last = len(personals) - 1 %}
			{% for value, personal in enumerate(personals) %}
				{{personal}}{% if value != last %},{% end %}
			{% end %}
		</div>
		<p>{% raw message %}</p>
	</div>
	<div class="msg_date alignright">
		{{ time }}
	</div>
</div>