<div class="blk c_personal_message_incoming">
	<div class="dt">{{ time }}</div>
	<div class="nick"><span class="in">
		<a id="{{id}}" href="noscript" class="from user_nik sub_id_{{id}}" title="личное сообщение">{{ current_user }}</a>
	</span></div>
	<div class="txt">
		{% set last = len(personals) - 1 %}
		<span class="personal_for">
		{% for value, personal in enumerate(personals) %}
			{{personal}}{% if value != last %},{% end %}
		{% end %}
		</span>
		{% raw message %}
	</div>
	<div class="clr"></div>
</div>