<div class="blk c_private_message_incoming">
	<div class="dt">{{ time }}</div>
	<div class="nick"><span class="in">
		<a id="{{id}}" href="noscript" class="from user_nik sub_id_{{id}}" title="личное сообщение">{{ current_user }}</a>
	</span></div>
	<div class="txt">
        {% set last = len(who) - 1 %}
		(Приватно для
        {% for value, personal in enumerate(who) %}
        <a id="{{personal.user_id}}" href="noscript" class="from user_nik sub_id_{{personal.user_id}}" title="личное сообщение">{{ personal.user_name }}</a>{% if value != last %},{% end %}
        {% end %}!)
		{% raw message %}
	</div>
	<div class="clr"></div>
</div>