<div class="profile">
	<h1>В Разработке</h1>
	{{ profile.name }}<br>
	{{ profile.surname }}<br>
	{{ profile.patronymic }}<br>
	{% if profile.birthday %}{{ profile.birthday }}{% end %}<br>
	{{ profile.birthplace }}<br>
	{{ profile.liveplace }}<br>
	{{ profile.phone }}<br>
	{{ profile.skype }}<br>
	{{ profile.vkontakte }}<br>
	{{ profile.facebook }}<br>
	{{ profile.twitter }}<br>
	{{ profile.site }}<br>
	{{ profile.work }}<br>
	{{ profile.school }}<br>
	{{ profile.institute }}<br>
	{{ profile.about }}<br>
</div>

