<div id="auth-content" class="form-reg">
	<h2>Регистрация</h2>
	<form method="post" action="/reg">
		{% module xsrf_form_html() %}
		<p class="name">
			<label for="name">Введите имя пользователя
				<div class="form-err" id="error_name"></div>
			</label>
			<input type="text" name="name" size="15" maxlength="15">
		</p>
		<p class="password">
			<label for="email">Введите пароль
				<div class="form-err" id="error_password"></div>
			</label>
			<input type="password" name="password" size="15" maxlength="15">
		</p>
		<p class="password">
			<label for="email">Повторите пароль
				<div class="form-err" id="error_password_again"></div>
			</label>
			<input type="password" name="password_again" size="15" maxlength="15">
		</p>
		<p class="gender">
			<label for="gender">Пол</label><br />
			<input type="hidden" name="sex" id="reg_frm_sex" value="" />
			<input type="radio" name="tmp_sex1" value="True" class="def" id="gender_m"><label for="gender_m">Мужской</label> 
			<input type="radio" name="tmp_sex2" value="False" class="def" id="gender_f"><label for="gender_f">Женский</label><br>
			<div class="form-err" id="error_sex"></div>
		</p>
		<p class="submit">
			<input type="submit" value="Отправить" onclick="return fn_reg_clickSend(this)" />
		</p>
	</form>
</div>