<div id="smile_block">	
	<div class="smile_block">
        <a href="#" title="Авторитет"smile">
            <img src="{{ static_url("smiles/standart/avtor.png") }}" alt=":avtor:"/>
        </a>
        <a href="#" title="Crazy smile"smile">
            <img src="{{ static_url("smiles/standart/crazy.gif") }}" alt=":crazy:"/>
        </a>
        <a href="#" title="Сумашедший хоровод"smile">
            <img src="{{ static_url("smiles/standart/crazyny.gif") }}" alt=":crazyny:"/>
        </a>
        <a href="#" title="Широкая улыбка"smile">
            <img src="{{ static_url("smiles/standart/big_smile.gif") }}" alt=":big_smile:"/>
        </a>
        <a href="#" title="Fuch Yeah"smile">
            <img src="{{ static_url("smiles/standart/fuck_yeah.gif") }}" alt=":fuck_yeah:"/>
        </a>
        <a href="#" title="Бегущий смайл"smile">
            <img src="{{ static_url("smiles/standart/fun_run.gif") }}" alt=":fun_run:"/>
        </a>
        <a href="#" title="Авации"smile">
            <img src="{{ static_url("smiles/standart/clap.gif") }}" alt=":clap:"/>
        </a>
        <a href="#" title="Улыбка"smile">
            <img src="{{ static_url("smiles/standart/smile.gif") }}" alt=":smile:"/>
        </a>
        <a href="#" title="Мечтательная улыбка"rolleyes">
            <img src="{{ static_url("smiles/standart/rolleyes.gif") }}" alt=":rolleyes:"/>
        </a>
        <a href="#" title="Пускает слюни"drool">
            <img src="{{ static_url("smiles/standart/drool.gif") }}" alt=":drool:"/>
        </a>
        <a href="#" title="Очень смешно"lol">
            <img src="{{ static_url("smiles/standart/lol.gif") }}" alt=":lol:"/>
        </a>
        <a href="#" title="Язык"tongue">
            <img src="{{ static_url("smiles/standart/tongue.gif") }}" alt=":tongue:"/>
        </a>
        <a href="#" title="Пока"bye">
            <img src="{{ static_url("smiles/standart/bye.gif") }}" alt=":bye:"/>
        </a>
        <a href="#" title="Ангел"angel">
            <img src="{{ static_url("smiles/standart/angel.gif") }}" alt=":angel:"/>
        </a>
        <a href="#" title="Перекосило"blink">
            <img src="{{ static_url("smiles/standart/blink.gif") }}" alt=":blink:"/>
        </a>
        <a href="#" title="Крутой"cool">
            <img src="{{ static_url("smiles/standart/cool.gif") }}" alt=":cool:"/>
        </a>
        <a href="#" title="Безразлично"dry">
            <img src="{{ static_url("smiles/standart/dry.gif") }}" alt=":dry:"/>
        </a>
        <a href="#" title="Злой"mad">
            <img src="{{ static_url("smiles/standart/mad.gif") }}" alt=":mad:"/>
        </a>
        <a href="#" title="Шок"ohmy">
            <img src="{{ static_url("smiles/standart/ohmy.gif") }}" alt=":ohmy:"/>
        </a>
        <a href="#" title="Попкорн"popcorn">
            <img src="{{ static_url("smiles/standart/popcorn.gif") }}" alt=":popcorn:"/>
        </a>
        <a href="#" title="Ворчун"rant">
            <img src="{{ static_url("smiles/standart/rant.gif") }}" alt=":rant:"/>
        </a>
        <a href="#" title="Грустный"sad">
            <img src="{{ static_url("smiles/standart/sad.gif") }}" alt=":sad:"/>
        </a>
        <a href="#" title="Робкий"shy">
            <img src="{{ static_url("smiles/standart/shy.gif") }}" alt=":shy:"/>
        </a>
        <a href="#" title="Всхлипывает"tears">
            <img src="{{ static_url("smiles/standart/tears.gif") }}" alt=":tears:"/>
        </a>
        <a href="#" title="Замешательство"unsure">
            <img src="{{ static_url("smiles/standart/unsure.gif") }}" alt=":unsure:"/>
        </a>
        <a href="#" title="Что?"what">
            <img src="{{ static_url("smiles/standart/what.gif") }}" alt=":what:"/>
        </a>
        <a href="#" title="Подмигивает"wink">
            <img src="{{ static_url("smiles/standart/wink.gif") }}" alt=":wink:"/>
        </a>
    </div>
</div>

<script type="text/javascript">
	$smile_block = $('#smile_block');
	$(function(){
		var $message = $('#message');
		$('#smile_block a').click(function(event){
			event.preventDefault();
			$message.val($message.val()+$(this).children().attr('alt'));
			$message.focus();
		});
		$('body').click(function(){
			$smile_block.hide();
		});
		$('#smile_link').click(function(event){
			event.preventDefault(); 
			event.stopPropagation();
			if($smile_block.is(':hidden')){
				$smile_block.show();
			}else{
				$smile_block.hide();
			}
		});
	});
</script>