<div id="smile_block">	
	<div class="smile_block">
		<a href="#" title="acute">
			<img src="{{ static_url("smiles/standart/acute.gif") }}" alt=":acute:"/>
		</a>
		<a href="#" title="aggressive">
			<img src="{{ static_url("smiles/standart/aggressive.gif") }}" alt=":aggressive:"/>
		</a>
		<a href="#" title="agree">
			<img src="{{ static_url("smiles/standart/agree.gif") }}" alt=":agree:"/>
		</a>
		<a href="#" title="air_kiss">
			<img src="{{ static_url("smiles/standart/air_kiss.gif") }}" alt=":air_kiss:"/>
		</a>
		<a href="#" title="bad">
			<img src="{{ static_url("smiles/standart/bad.gif") }}" alt=":bad:"/>
		</a>
		<a href="#" title="beee">
			<img src="{{ static_url("smiles/standart/beee.gif") }}" alt=":beee:"/>
		</a>
		<a href="#" title="black_eye">
			<img src="{{ static_url("smiles/standart/black_eye.gif") }}" alt=":black_eye:"/>
		</a>
		<a href="#" title="blum2">
			<img src="{{ static_url("smiles/standart/blum2.gif") }}" alt=":blum2:"/>
		</a>
		<a href="#" title="blum3">
			<img src="{{ static_url("smiles/standart/blum3.gif") }}" alt=":blum3:"/>
		</a>
		<a href="#" title="blush">
			<img src="{{ static_url("smiles/standart/blush.gif") }}" alt=":blush:"/>
		</a>
		<a href="#" title="blush2">
			<img src="{{ static_url("smiles/standart/blush2.gif") }}" alt=":blush2:"/>
		</a>
		<a href="#" title="boast">
			<img src="{{ static_url("smiles/standart/boast.gif") }}" alt=":boast:"/>
		</a>
		<a href="#" title="boredom">
			<img src="{{ static_url("smiles/standart/boredom.gif") }}" alt=":boredom:"/>
		</a>
		<a href="#" title="censored">
			<img src="{{ static_url("smiles/standart/censored.gif") }}" alt=":censored:"/>
		</a>
		<a href="#" title="clapping">
			<img src="{{ static_url("smiles/standart/clapping.gif") }}" alt=":clapping:"/>
		</a>
		<a href="#" title="cray">
			<img src="{{ static_url("smiles/standart/cray.gif") }}" alt=":cray:"/>
		</a>
		<a href="#" title="cray2">
			<img src="{{ static_url("smiles/standart/cray2.gif") }}" alt=":cray2:"/>
		</a>
		<a href="#" title="dance">
			<img src="{{ static_url("smiles/standart/dance.gif") }}" alt=":dance:"/>
		</a>
		<a href="#" title="dance2">
			<img src="{{ static_url("smiles/standart/dance2.gif") }}" alt=":dance2:"/>
		</a>
		<a href="#" title="dance3">
			<img src="{{ static_url("smiles/standart/dance3.gif") }}" alt=":dance3:"/>
		</a>
		<a href="#" title="dance4">
			<img src="{{ static_url("smiles/standart/dance4.gif") }}" alt=":dance4:"/>
		</a>
		<a href="#" title="declare">
			<img src="{{ static_url("smiles/standart/declare.gif") }}" alt=":declare:"/>
		</a>
		<a href="#" title="derisive">
			<img src="{{ static_url("smiles/standart/derisive.gif") }}" alt=":derisive:"/>
		</a>
		<a href="#" title="dirol">
			<img src="{{ static_url("smiles/standart/dirol.gif") }}" alt=":dirol:"/>
		</a>
		<a href="#" title="dntknw">
			<img src="{{ static_url("smiles/standart/dntknw.gif") }}" alt=":dntknw:"/>
		</a>
		<a href="#" title="don-t_mention">
			<img src="{{ static_url("smiles/standart/don-t_mention.gif") }}" alt=":don-t_mention:"/>
		</a>
		<a href="#" title="download">
			<img src="{{ static_url("smiles/standart/download.gif") }}" alt=":download:"/>
		</a>
		<a href="#" title="drinks">
			<img src="{{ static_url("smiles/standart/drinks.gif") }}" alt=":drinks:"/>
		</a>
		<a href="#" title="fool">
			<img src="{{ static_url("smiles/standart/fool.gif") }}" alt=":fool:"/>
		</a>
		<a href="#" title="friends">
			<img src="{{ static_url("smiles/standart/friends.gif") }}" alt=":friends:"/>
		</a>
		<a href="#" title="good">
			<img src="{{ static_url("smiles/standart/good.gif") }}" alt=":good:"/>
		</a>
		<a href="#" title="good2">
			<img src="{{ static_url("smiles/standart/good2.gif") }}" alt=":good2:"/>
		</a>
		<a href="#" title="good3">
			<img src="{{ static_url("smiles/standart/good3.gif") }}" alt=":good3:"/>
		</a>
		<a href="#" title="grin">
			<img src="{{ static_url("smiles/standart/grin.gif") }}" alt=":grin:"/>
		</a>
		<a href="#" title="heat">
			<img src="{{ static_url("smiles/standart/heat.gif") }}" alt=":heat:"/>
		</a>
		<a href="#" title="help">
			<img src="{{ static_url("smiles/standart/help.gif") }}" alt=":help:"/>
		</a>
		<a href="#" title="i-m_so_happy">
			<img src="{{ static_url("smiles/standart/i-m_so_happy.gif") }}" alt=":i-m_so_happy:"/>
		</a>
		<a href="#" title="ireful1">
			<img src="{{ static_url("smiles/standart/ireful1.gif") }}" alt=":ireful1:"/>
		</a>
		<a href="#" title="ireful2">
			<img src="{{ static_url("smiles/standart/ireful2.gif") }}" alt=":ireful2:"/>
		</a>
		<a href="#" title="ireful3">
			<img src="{{ static_url("smiles/standart/ireful3.gif") }}" alt=":ireful3:"/>
		</a>
		<a href="#" title="kiss">
			<img src="{{ static_url("smiles/standart/kiss.gif") }}" alt=":kiss:"/>
		</a>
		<a href="#" title="laugh1">
			<img src="{{ static_url("smiles/standart/laugh1.gif") }}" alt=":laugh1:"/>
		</a>
		<a href="#" title="laugh2">
			<img src="{{ static_url("smiles/standart/laugh2.gif") }}" alt=":laugh2:"/>
		</a>
		<a href="#" title="laugh3">
			<img src="{{ static_url("smiles/standart/laugh3.gif") }}" alt=":laugh3:"/>
		</a>
		<a href="#" title="lazy">
			<img src="{{ static_url("smiles/standart/lazy.gif") }}" alt=":lazy:"/>
		</a>
		<a href="#" title="lazy2">
			<img src="{{ static_url("smiles/standart/lazy2.gif") }}" alt=":lazy2:"/>
		</a>
		<a href="#" title="lazy3">
			<img src="{{ static_url("smiles/standart/lazy3.gif") }}" alt=":lazy3:"/>
		</a>
		<a href="#" title="mda">
			<img src="{{ static_url("smiles/standart/mda.gif") }}" alt=":mda:"/>
		</a>
		<a href="#" title="meeting">
			<img src="{{ static_url("smiles/standart/meeting.gif") }}" alt=":meeting:"/>
		</a>
		<a href="#" title="mosking">
			<img src="{{ static_url("smiles/standart/mosking.gif") }}" alt=":mosking:"/>
		</a>
		<a href="#" title="nea">
			<img src="{{ static_url("smiles/standart/nea.gif") }}" alt=":nea:"/>
		</a>
		<a href="#" title="negative">
			<img src="{{ static_url("smiles/standart/negative.gif") }}" alt=":negative:"/>
		</a>
		<a href="#" title="no2">
			<img src="{{ static_url("smiles/standart/no2.gif") }}" alt=":no2:"/>
		</a>
		<a href="#" title="not_i">
			<img src="{{ static_url("smiles/standart/not_i.gif") }}" alt=":not_i:"/>
		</a>
		<a href="#" title="offtopic">
			<img src="{{ static_url("smiles/standart/offtopic.gif") }}" alt=":offtopic:"/>
		</a>
		<a href="#" title="ok">
			<img src="{{ static_url("smiles/standart/ok.gif") }}" alt=":ok:"/>
		</a>
		<a href="#" title="pardon">
			<img src="{{ static_url("smiles/standart/pardon.gif") }}" alt=":pardon:"/>
		</a>
		<a href="#" title="party">
			<img src="{{ static_url("smiles/standart/party.gif") }}" alt=":party:"/>
		</a>
		<a href="#" title="pleasantry">
			<img src="{{ static_url("smiles/standart/pleasantry.gif") }}" alt=":pleasantry:"/>
		</a>
		<a href="#" title="polling">
			<img src="{{ static_url("smiles/standart/polling.gif") }}" alt=":polling:"/>
		</a>
		<a href="#" title="popcorm1">
			<img src="{{ static_url("smiles/standart/popcorm1.gif") }}" alt=":popcorm1:"/>
		</a>
		<a href="#" title="popcorm2">
			<img src="{{ static_url("smiles/standart/popcorm2.gif") }}" alt=":popcorm2:"/>
		</a>
		<a href="#" title="punish">
			<img src="{{ static_url("smiles/standart/punish.gif") }}" alt=":punish:"/>
		</a>
		<a href="#" title="punish2">
			<img src="{{ static_url("smiles/standart/punish2.gif") }}" alt=":punish2:"/>
		</a>
		<a href="#" title="read">
			<img src="{{ static_url("smiles/standart/read.gif") }}" alt=":read:"/>
		</a>
		<a href="#" title="resent">
			<img src="{{ static_url("smiles/standart/resent.gif") }}" alt=":resent:"/>
		</a>
		<a href="#" title="rofl">
			<img src="{{ static_url("smiles/standart/rofl.gif") }}" alt=":rofl:"/>
		</a>
		<a href="#" title="sad">
			<img src="{{ static_url("smiles/standart/sad.gif") }}" alt=":sad:"/>
		</a>
		<a href="#" title="scare">
			<img src="{{ static_url("smiles/standart/scare.gif") }}" alt=":scare:"/>
		</a>
		<a href="#" title="scare2">
			<img src="{{ static_url("smiles/standart/scare2.gif") }}" alt=":scare2:"/>
		</a>
		<a href="#" title="sclerosis">
			<img src="{{ static_url("smiles/standart/sclerosis.gif") }}" alt=":sclerosis:"/>
		</a>
		<a href="#" title="scratch_one-s_head">
			<img src="{{ static_url("smiles/standart/scratch_one-s_head.gif") }}" alt=":scratch_one-s_head:"/>
		</a>
		<a href="#" title="search">
			<img src="{{ static_url("smiles/standart/search.gif") }}" alt=":search:"/>
		</a>
		<a href="#" title="secret">
			<img src="{{ static_url("smiles/standart/secret.gif") }}" alt=":secret:"/>
		</a>
		<a href="#" title="SHABLON_padonak_04">
			<img src="{{ static_url("smiles/standart/SHABLON_padonak_04.gif") }}" alt=":SHABLON_padonak_04:"/>
		</a>
		<a href="#" title="SHABLON_padonak_05">
			<img src="{{ static_url("smiles/standart/SHABLON_padonak_05.gif") }}" alt=":SHABLON_padonak_05:"/>
		</a>
		<a href="#" title="SHABLON_padonak_06">
			<img src="{{ static_url("smiles/standart/SHABLON_padonak_06.gif") }}" alt=":SHABLON_padonak_06:"/>
		</a>
		<a href="#" title="shout">
			<img src="{{ static_url("smiles/standart/shout.gif") }}" alt=":shout:"/>
		</a>
		<a href="#" title="smile3">
			<img src="{{ static_url("smiles/standart/smile3.gif") }}" alt=":smile3:"/>
		</a>
		<a href="#" title="smoke">
			<img src="{{ static_url("smiles/standart/smoke.gif") }}" alt=":smoke:"/>
		</a>
		<a href="#" title="snooks">
			<img src="{{ static_url("smiles/standart/snooks.gif") }}" alt=":snooks:"/>
		</a>
		<a href="#" title="sorry">
			<img src="{{ static_url("smiles/standart/sorry.gif") }}" alt=":sorry:"/>
		</a>
		<a href="#" title="sorry2">
			<img src="{{ static_url("smiles/standart/sorry2.gif") }}" alt=":sorry2:"/>
		</a>
		<a href="#" title="stink">
			<img src="{{ static_url("smiles/standart/stink.gif") }}" alt=":stink:"/>
		</a>
		<a href="#" title="stop">
			<img src="{{ static_url("smiles/standart/stop.gif") }}" alt=":stop:"/>
		</a>
		<a href="#" title="superstition">
			<img src="{{ static_url("smiles/standart/superstition.gif") }}" alt=":superstition:"/>
		</a>
		<a href="#" title="swoon">
			<img src="{{ static_url("smiles/standart/swoon.gif") }}" alt=":swoon:"/>
		</a>
		<a href="#" title="swoon2">
			<img src="{{ static_url("smiles/standart/swoon2.gif") }}" alt=":swoon2:"/>
		</a>
		<a href="#" title="take_example">
			<img src="{{ static_url("smiles/standart/take_example.gif") }}" alt=":take_example:"/>
		</a>
		<a href="#" title="taunt">
			<img src="{{ static_url("smiles/standart/taunt.gif") }}" alt=":taunt:"/>
		</a>
		<a href="#" title="thank_you">
			<img src="{{ static_url("smiles/standart/thank_you.gif") }}" alt=":thank_you:"/>
		</a>
		<a href="#" title="thank_you2">
			<img src="{{ static_url("smiles/standart/thank_you2.gif") }}" alt=":thank_you2:"/>
		</a>
		<a href="#" title="this">
			<img src="{{ static_url("smiles/standart/this.gif") }}" alt=":this:"/>
		</a>
		<a href="#" title="threaten">
			<img src="{{ static_url("smiles/standart/threaten.gif") }}" alt=":threaten:"/>
		</a>
		<a href="#" title="to_clue">
			<img src="{{ static_url("smiles/standart/to_clue.gif") }}" alt=":to_clue:"/>
		</a>
		<a href="#" title="to_take_umbrage">
			<img src="{{ static_url("smiles/standart/to_take_umbrage.gif") }}" alt=":to_take_umbrage:"/>
		</a>
		<a href="#" title="tongue">
			<img src="{{ static_url("smiles/standart/tongue.gif") }}" alt=":tongue:"/>
		</a>
		<a href="#" title="umnik">
			<img src="{{ static_url("smiles/standart/umnik.gif") }}" alt=":umnik:"/>
		</a>
		<a href="#" title="umnik2">
			<img src="{{ static_url("smiles/standart/umnik2.gif") }}" alt=":umnik2:"/>
		</a>
		<a href="#" title="unsure">
			<img src="{{ static_url("smiles/standart/unsure.gif") }}" alt=":unsure:"/>
		</a>
		<a href="#" title="victory">
			<img src="{{ static_url("smiles/standart/victory.gif") }}" alt=":victory:"/>
		</a>
		<a href="#" title="whistle">
			<img src="{{ static_url("smiles/standart/whistle.gif") }}" alt=":whistle:"/>
		</a>
		<a href="#" title="whistle2">
			<img src="{{ static_url("smiles/standart/whistle2.gif") }}" alt=":whistle2:"/>
		</a>
		<a href="#" title="whistle3">
			<img src="{{ static_url("smiles/standart/whistle3.gif") }}" alt=":whistle3:"/>
		</a>
		<a href="#" title="wink3">
			<img src="{{ static_url("smiles/standart/wink3.gif") }}" alt=":wink3:"/>
		</a>
		<a href="#" title="yahoo">
			<img src="{{ static_url("smiles/standart/yahoo.gif") }}" alt=":yahoo:"/>
		</a>
		<a href="#" title="yes">
			<img src="{{ static_url("smiles/standart/yes.gif") }}" alt=":yes:"/>
		</a>
		<a href="#" title="yes2">
			<img src="{{ static_url("smiles/standart/yes2.gif") }}" alt=":yes2:"/>
		</a>
		<a href="#" title="yes3">
			<img src="{{ static_url("smiles/standart/yes3.gif") }}" alt=":yes3:"/>
		</a>
		<a href="#" title="yes4">
			<img src="{{ static_url("smiles/standart/yes4.gif") }}" alt=":yes4:"/>
		</a>
		<a href="#" title="yu">
			<img src="{{ static_url("smiles/standart/yu.gif") }}" alt=":yu:"/>
		</a>
	</div>
</div>

<script type="text/javascript">
	$smile_block = $('#smile_block');
	$(function(){
		var $message = $('#message');
		$('#smile_block a').click(function(event){
			event.preventDefault();
			$message.val($message.val()+$(this).children().attr('alt'));
			$message.focus();
		});
		$('body').click(function(){
			$smile_block.hide();
		});
		$('#smile_link').click(function(event){
			event.preventDefault(); 
			event.stopPropagation();
			if($smile_block.is(':hidden')){
				$smile_block.show();
			}else{
				$smile_block.hide();
			}
		});
	});
</script>