<div id="smile_block">	
	<div class="smile_block">
		<div class="smile_block_sub active" id="smile_blk_1">
			<a href="#" title="Facepalm"facepalm">
				<img src="{{ static_url("smiles/standart/facepalm.gif") }}" alt=":facepalm:"/>
			</a>
			<a href="#" title="Авторитет"smile">
				<img src="{{ static_url("smiles/standart/avtor.png") }}" alt=":avtor:"/>
			</a>
			<a href="#" title="Crazy smile"smile">
				<img src="{{ static_url("smiles/standart/crazy.gif") }}" alt=":crazy:"/>
			</a>
			<a href="#" title="Fuch Yeah"smile">
				<img src="{{ static_url("smiles/standart/fuck_yeah.gif") }}" alt=":fuck_yeah:"/>
			</a>
			<a href="#" title="Металюга"smile">
				<img src="{{ static_url("smiles/standart/metal.gif") }}" alt=":metal:"/>
			</a>
			<a href="#" title="Сумашедший хоровод"smile">
				<img src="{{ static_url("smiles/standart/crazyny.gif") }}" alt=":crazyny:"/>
			</a>
			<a href="#" title="Танец Тарантино"smile">
				<img src="{{ static_url("smiles/standart/tarantino_dance.gif") }}" alt=":tarantino_dance:"/>
			</a>
			<a href="#" title="Сумашедший по голове"smile">
				<img src="{{ static_url("smiles/standart/crazynuts.gif") }}" alt=":crazynuts:"/>
			</a>
			<a href="#" title="Сотона"smile">
				<img src="{{ static_url("smiles/standart/csotona.gif") }}" alt=":csotona:"/>
			</a>
			<a href="#" title="Крюгер"smile">
				<img src="{{ static_url("smiles/standart/kruger.gif") }}" alt=":kruger:"/>
			</a>
			<a href="#" title="Сумашедшая девка"smile">
				<img src="{{ static_url("smiles/standart/crazygirl.gif") }}" alt=":crazygirl:"/>
			</a>
			<a href="#" title="Fuck you"smile">
				<img src="{{ static_url("smiles/standart/fuck_you.gif") }}" alt=":fuck_you:"/>
			</a>
			<a href="#" title="Об стену"smile">
				<img src="{{ static_url("smiles/standart/wall.gif") }}" alt=":wall:"/>
			</a>
			<a href="#" title="Широкая улыбка"smile">
				<img src="{{ static_url("smiles/standart/big_smile.gif") }}" alt=":big_smile:"/>
			</a>
			<a href="#" title="Хохот"smile">
				<img src="{{ static_url("smiles/standart/laugh.gif") }}" alt=":laugh:"/>
			</a>
			<a href="#" title="Бегущий смайл"smile">
				<img src="{{ static_url("smiles/standart/fun_run.gif") }}" alt=":fun_run:"/>
			</a>
			<a href="#" title="Авации"smile">
				<img src="{{ static_url("smiles/standart/clap.gif") }}" alt=":clap:"/>
			</a>
			<a href="#" title="Знаменитость"smile">
				<img src="{{ static_url("smiles/standart/celebrity.gif") }}" alt=":celebrity:"/>
			</a>
			<a href="#" title="Молится"smile">
				<img src="{{ static_url("smiles/standart/mol.gif") }}" alt=":mol:"/>
			</a>
			<a href="#" title="Чирлидер"smile">
				<img src="{{ static_url("smiles/standart/cheerleader.gif") }}" alt=":cheerleader:"/>
			</a>
			<a href="#" title="Любовный душ"smile">
				<img src="{{ static_url("smiles/standart/loveshower.gif") }}" alt=":loveshower:"/>
			</a>
			<a href="#" title="Реверанс"smile">
				<img src="{{ static_url("smiles/standart/rev.gif") }}" alt=":rev:"/>
			</a>
			<a href="#" title="Ура"smile">
				<img src="{{ static_url("smiles/standart/ura.gif") }}" alt=":ura:"/>
			</a>
			<a href="#" title="Качок"smile">
				<img src="{{ static_url("smiles/standart/kult.gif") }}" alt=":kult:"/>
			</a>
			<a href="#" title="Два ствола"smile">
				<img src="{{ static_url("smiles/standart/guns.gif") }}" alt=":guns:"/>
			</a>
			<a href="#" title="Нун чаки"smile">
				<img src="{{ static_url("smiles/standart/nun.gif") }}" alt=":nun:"/>
			</a>
			<a href="#" title="Летун"smile">
				<img src="{{ static_url("smiles/standart/flyhigh.gif") }}" alt=":flyhigh:"/>
			</a>
			<a href="#" title="Пройдоха"smile">
				<img src="{{ static_url("smiles/standart/shuffle.gif") }}" alt=":shuffle:"/>
			</a>
			<a href="#" title="Гитарист"smile">
				<img src="{{ static_url("smiles/standart/guitar.gif") }}" alt=":guitar:"/>
			</a>
			<a href="#" title="Рокер"smile">
				<img src="{{ static_url("smiles/standart/rock.gif") }}" alt=":rock:"/>
			</a>
			<a href="#" title="Танцующий перец"smile">
				<img src="{{ static_url("smiles/standart/dancing_chilli.gif") }}" alt=":dancing_chilli:"/>
			</a>
            <a href="#" title="Анонист"anonist">
				<img src="{{ static_url("smiles/standart/anonist.gif") }}" alt=":anonist:"/>
			</a>
		</div>
		<div class="smile_block_sub" id="smile_blk_2">
			<a href="#" title="Trollface"trollface">
				<img src="{{ static_url("smiles/special/Trollface.png") }}" alt=":trollface:"/>
			</a>
            <a href="#" title="Trollgirl"trollgirl">
				<img src="{{ static_url("smiles/special/troll_girl.gif") }}" alt=":trollgirl:"/>
			</a>
			<a href="#" title="Уффф"ufff">
				<img src="{{ static_url("smiles/special/ufff.gif") }}" alt=":ufff:"/>
			</a>
			<a href="#" title="Трололо"trololo">
				<img src="{{ static_url("smiles/special/trololo.gif") }}" alt=":trololo:"/>
			</a>
			<a href="#" title="Презрение"prezrenie">
				<img src="{{ static_url("smiles/special/prezrenie.gif") }}" alt=":prezrenie:"/>
			</a>
			<a href="#" title="WTF?"wtf">
				<img src="{{ static_url("smiles/special/wtf.gif") }}" alt=":wtf:"/>
			</a>
			<a href="#" title="fuck_yea"fuck_yea">
				<img src="{{ static_url("smiles/special/fuck_yea.gif") }}" alt=":fuck_yea:"/>
			</a>
			<a href="#" title="fuuuck"fuuuck">
				<img src="{{ static_url("smiles/special/fuuuck.gif") }}" alt=":fuuuck:"/>
			</a>
			<a href="#" title="whyyy"whyyy">
				<img src="{{ static_url("smiles/special/whyyy.gif") }}" alt=":whyyy:"/>
			</a>
			<a href="#" title="happy"happy">
				<img src="{{ static_url("smiles/special/happy.gif") }}" alt=":happy:"/>
			</a>
		</div>
		<div class="smile_block_sub" id="smile_blk_3">
			<a href="#" title="Дубиной по голове"dubina">
				<img src="{{ static_url("smiles/big/dubina.gif") }}" alt=":dubina:"/>
			</a>
			<a href="#" title="Мир"peace">
				<img src="{{ static_url("smiles/big/peace.gif") }}" alt=":peace:"/>
			</a>
			<a href="#" title="Девочка"girl">
				<img src="{{ static_url("smiles/big/girl.gif") }}" alt=":girl:"/>
			</a>
			<a href="#" title="Девочка с музыкой"music_girl">
				<img src="{{ static_url("smiles/big/music_girl.gif") }}" alt=":music_girl:"/>
			</a>
			<a href="#" title="Чипсы"chips">
				<img src="{{ static_url("smiles/big/chips.gif") }}" alt=":chips:"/>
			</a>
			<a href="#" title="Толчок"wc">
				<img src="{{ static_url("smiles/big/wc.gif") }}" alt=":wc:"/>
			</a>
			<a href="#" title="Задница"ass">
				<img src="{{ static_url("smiles/big/ass.gif") }}" alt=":ass:"/>
			</a>
			<a href="#" title="Язык"sacar">
				<img src="{{ static_url("smiles/big/sacar.gif") }}" alt=":sacar:"/>
			</a>
			<a href="#" title="Удар"kick">
				<img src="{{ static_url("smiles/big/kick.gif") }}" alt=":kick:"/>
			</a>
			<a href="#" title="Ап"up">
				<img src="{{ static_url("smiles/big/up.gif") }}" alt=":up:"/>
			</a>
			<a href="#" title="Ролики"rolls">
				<img src="{{ static_url("smiles/big/rolls.gif") }}" alt=":rolls:"/>
			</a>
			<a href="#" title="Машина"car">
				<img src="{{ static_url("smiles/big/car.gif") }}" alt=":car:"/>
			</a>
			<a href="#" title="Снегоход"snowmobile">
				<img src="{{ static_url("smiles/big/snowmobile.gif") }}" alt=":snowmobile:"/>
			</a>
			<a href="#" title="Брутал"brutal">
				<img src="{{ static_url("smiles/big/brutal.gif") }}" alt=":brutal:"/>
			</a>
			<a href="#" title="Розы"rose">
				<img src="{{ static_url("smiles/big/rose.gif") }}" alt=":rose:"/>
			</a>
		</div>
        <div class="smile_block_sub" id="smile_blk_4">
			<a href="#" title=" "bpr">
			<img src="{{ static_url("smiles/sex/bpr.gif") }}" alt=":bpr:"/>
			</a>
			<a href="#" title=" "bps">
			<img src="{{ static_url("smiles/sex/bps.gif") }}" alt=":bps:"/>
			</a>
            <a href="#" title="Недотрога"nedotroga">
			<img src="{{ static_url("smiles/sex/nedotroga.gif") }}" alt=":nedotroga:"/>
			</a>
			<a href="#" title=" "bpt">
			<img src="{{ static_url("smiles/sex/bpt.gif") }}" alt=":bpt:"/>
			</a>
			<a href="#" title=" "wxa">
			<img src="{{ static_url("smiles/sex/wxa.gif") }}" alt=":wxa:"/>
			</a>
			<a href="#" title=" "wxb">
			<img src="{{ static_url("smiles/sex/wxb.gif") }}" alt=":wxb:"/>
			</a>
			<a href="#" title=" "wxc">
			<img src="{{ static_url("smiles/sex/wxc.gif") }}" alt=":wxc:"/>
			</a>
			<a href="#" title=" "wxd">
			<img src="{{ static_url("smiles/sex/wxd.gif") }}" alt=":wxd:"/>
			</a>
			<a href="#" title=" "wxf">
			<img src="{{ static_url("smiles/sex/wxf.gif") }}" alt=":wxf:"/>
			</a>
			<a href="#" title=" "wxg">
			<img src="{{ static_url("smiles/sex/wxg.gif") }}" alt=":wxg:"/>
			</a>
			<a href="#" title=" "wxh">
			<img src="{{ static_url("smiles/sex/wxh.gif") }}" alt=":wxh:"/>
			</a>
			<a href="#" title=" "wxi">
			<img src="{{ static_url("smiles/sex/wxi.gif") }}" alt=":wxi:"/>
			</a>
			<a href="#" title=" "wxj">
			<img src="{{ static_url("smiles/sex/wxj.gif") }}" alt=":wxj:"/>
			</a>
			<a href="#" title=" "wxk">
			<img src="{{ static_url("smiles/sex/wxk.gif") }}" alt=":wxk:"/>
			</a>
            <a href="#" title="Нейрон"neiron">
			<img src="{{ static_url("smiles/sex/neiron.gif") }}" alt=":neiron:"/>
			</a>
		</div>
    </div>
	<div class="smile-tabs">
		<div class="tab active" id="smile_tab_1">стандартные</div>
		<div class="tab" id="smile_tab_2">трололо</div>
		<div class="tab" id="smile_tab_3">большие</div>
		<div class="tab" id="smile_tab_4">секс</div>
	</div>
</div>

<script type="text/javascript">
	$smile_block = $('#smile_block');
	$(function(){
		var $message = $('#message');
		$('#smile_block a').click(function(event){
			event.preventDefault();
			$message.val($message.val()+$(this).children().attr('alt'));
			$message.focus();
		});
		$('body').click(function(){
			$smile_block.hide();
		});
		$('#smile_tab_1').click(function(event){
			event.preventDefault(); 
			event.stopPropagation();
			fn_smile_showTab(1)
		});
		$('#smile_tab_2').click(function(event){
			event.preventDefault(); 
			event.stopPropagation();
			fn_smile_showTab(2)
		});
		$('#smile_tab_3').click(function(event){
			event.preventDefault(); 
			event.stopPropagation();
			fn_smile_showTab(3)
		});
		$('#smile_tab_4').click(function(event){
			event.preventDefault(); 
			event.stopPropagation();
			fn_smile_showTab(4)
		});
		$('#smile_link').click(function(event){
			event.preventDefault(); 
			event.stopPropagation();
			if($smile_block.is(':hidden')){
				$smile_block.show();
			}else{
				$smile_block.hide();
			}
		});
	});
	function fn_smile_showTab(n){
		if (document.getElementById('smile_tab_'+n).className === 'tab active'){ return; }
		for (var i = 1; i <= 4; i++){
			var a = ((i == n)?' active':'');
			document.getElementById('smile_tab_'+i).className = 'tab'+a;
			document.getElementById('smile_blk_'+i).className = 'smile_block_sub'+a;
		}
	}
</script>